<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title></title>
</head>
<body>
<h1>무기</h1>
<input type="button" value="홈으로" onclick="home()">
</body>
<script>
    function home() {
        location.href = '/';
    }
    $(function () {
        battle(new Gun());
        battle(new Cannon());
        battle('새총');
    });

    var Gun = function () {
      this.fire = function () {
          return '총쏘기';
      };
    };

    var Cannon = function () {
        this.fire = function () {
            return '대포쏘기';
        };
    };

    function battle(weapon){
        if (weapon.constructor === Gun){
            alert(weapon.fire());
        } else if (weapon.constructor === Cannon){
            alert(weapon.fire());
        } else {
            alert('발사할 수 없습니다.');
        }
    }
</script>
</html>